/*
 Global styles
*/

body{
  background: rgba(159, 185, 129, 0.541);
  font-family: Arial, Helvetica, sans-serif
}
h1:hover{
  color: rgb(16, 39, 139);
}

/*
Header and Footer
*/
/* ... */


/*
specific styles are here
*/
